<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    <div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <h1>Scan Image</h1>
        <div class="inputoutput">
          <img id="imageSrc" alt="No Image" />
          <div class="caption">imageSrc <input type="file" id="fileInput" name="file" /></div>
        </div>
        <div class="inputoutput">
          <canvas id="canvasOutput" ></canvas>
          <div class="caption">canvasOutput</div>
        </div>
        <div>
          <button onclick="changeToGray()">Change to Gray</button>
        </div>
        <div class="inputoutput">
          <canvas id="threshOutput" ></canvas>
          <div class="caption">threshOutput</div>
        </div>
    </div>
    
    <div>
      Threshold type <select id="thresh_type" name="thresh_type"">
        <option value="THRESH_BINARY">THRESH_BINARY</option>
        <option value="THRESH_BINARY_INV">THRESH_BINARY_INV</option>
        <option value="THRESH_TRUNC">THRESH_TRUNC</option>
        <option value="THRESH_TRIANGLE">THRESH_TRIANGLE</option>
        <option value="THRESH_TOZERO">THRESH_TOZERO</option>
        <option value="THRESH_OTSU">THRESH_OTSU</option>
      </select>
    </div>
    <div>
      Threshold: <input type="range" id="trackbar" value="50" min="0" max="255" step="1" oninput="callback()">
      <input type="text" id="weightValue" size="3" value="50"/>
    </div>
    <div>
      <button onclick="thresholding()">Tresholding</button>
    </div>

    
<script type="text/javascript">
    let imgElement = document.getElementById('imageSrc');
    let inputElement = document.getElementById('fileInput');
    inputElement.addEventListener('change', (e) => {
      imgElement.src = URL.createObjectURL(e.target.files[0]);
    }, false);

    let x = document.createElement('INPUT');
    x.setAttribute('type','range');

   // var threshTypes = {};
  //  threshTypes['THRESH_BINARY'] = cv.THRESH_BINARY;
   // threshTypes['THRESH_BINARY_INV'] = cv.THRESH_BINARY_INV;
   // threshTypes['THRESH_TRUNC'] = cv.THRESH_TRUNC;
  //  threshTypes['THRESH_TOZERO'] = cv.THRESH_TOZERO;
  //  threshTypes['THRESH_OTSU'] = cv.THRESH_OTSU;
  //  threshTypes['THRESH_TRIANGLE'] = cv.THRESH_TRIANGLE;
   
    imgElement.onload = function() {
      let mat = cv.imread(imgElement);
      cv.imshow('canvasOutput', mat);
      mat.delete();
    };

    function onOpenCvReady() {
      document.getElementById('status').innerHTML = 'OpenCV.js is ready.';
    };

    function changeToGray() {  
      let src = cv.imread('imageSrc');
      let dst = new cv.Mat(); 
      cv.cvtColor(src, dst, cv.COLOR_RGBA2GRAY);
      cv.imshow('canvasOutput', dst);
      src.delete();dst.delete(); 
    };
 
    function thresh_binary() {
      let src = cv.imread('canvasOutput');
      let dst = new cv.Mat();
      let weightValue = document.getElementById('weightValue');
      let value = weightValue.getAttribute('value');
      cv.threshold(src, dst,parseInt(value), 255, cv.THRESH_BINARY);
      cv.imshow('threshOutput', dst);
      src.delete();
      dst.delete();
    };
    function thresh_binary_inv(){
      let src = cv.imread('canvasOutput');
      let dst = new cv.Mat();
      let weightValue = document.getElementById('weightValue');
      let value = weightValue.getAttribute('value');
      cv.threshold(src, dst,parseInt(value), 255, cv.THRESH_BINARY_INV);
      cv.imshow('threshOutput', dst);
      src.delete();
      dst.delete();
    };

    function thresh_trunc(){
      let src = cv.imread('canvasOutput');
      let dst = new cv.Mat();
      let weightValue = document.getElementById('weightValue');
      let value = weightValue.getAttribute('value');
      cv.threshold(src, dst,parseInt(value), 255, cv.THRESH_TRUNC);
      cv.imshow('threshOutput', dst);
      src.delete();
      dst.delete();   
    };
    function thresh_tozero(){
      let src = cv.imread('canvasOutput');
      let dst = new cv.Mat();
      let weightValue = document.getElementById('weightValue');
      let value = weightValue.getAttribute('value');
      cv.threshold(src, dst,parseInt(value), 255, cv.THRESH_TOZERO);
      cv.imshow('threshOutput', dst);
      src.delete();
      dst.delete();
    };
    function thresh_otsu(){
      let src = cv.imread('canvasOutput');
      let dst = new cv.Mat();
      let weightValue = document.getElementById('weightValue');
      let value = weightValue.getAttribute('value');
      cv.threshold(src, dst,parseInt(value), 255,cv.THRESH_BINARY & cv.THRESH_OTSU);
      cv.imshow('threshOutput', dst);
      src.delete();
      dst.delete();
    };
    function thresh_triangle(){
      let src = cv.imread('canvasOutput');
      let dst = new cv.Mat();
      let weightValue = document.getElementById('weightValue');
      let value = weightValue.getAttribute('value');
      cv.threshold(src, dst,parseInt(value), 255, cv.THRESH_BINARY & cv.THRESH_TRIANGLE);
      cv.imshow('threshOutput', dst);
      src.delete();
      dst.delete();
    };

    function callback() {
      let weightValue  = document.getElementById('weightValue');
      let trackbar = document.getElementById('trackbar');
      weightValue.setAttribute('value', trackbar.value);
      let thresh_type = document.getElementById('thresh_type')
      let selOpt = thresh_type.options[thresh_type.selectedIndex].value;
      if (selOpt == 'THRESH_BINARY'){
        thresh_binary();
      }
      else if(selOpt == 'THRESH_BINARY_INV'){
        thresh_binary_inv();
      }
      else if(selOpt == 'THRESH_TRUNC'){
        thresh_trunc();
      }
      else if(selOpt == 'THRESH_TOZERO'){
        thresh_tozero();
      }
      else if(selOpt == 'THRESH_OTSU'){
        thresh_otsu();
      }
      else if(selOpt == 'THRESH_TRIANGLE'){
        thresh_triangle();
      }
    };


</script>
<script async src="/static/opencv.js" onload="onOpenCvReady();" type="text/javascript"></script>
</body>
</html>